#/bootstrap/ssr
.env
.env.backup
.env.production
.env.testing
.fleet
.idea
.phpactor.json
.phpunit.cache
.phpunit.result.cache
auth.json
dbdata
node_modules
npm-debug.log
!public/build
public/build/*
!public/build/manifest.json
public/hot
public/storage
storage/*.key
storage/pail
vendor
yarn-error.log
