# data
/dbdata

# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache

# Logs and IDE
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/

# Laravel build outputs
public/build
public/hot
bootstrap/cache/*.php
bootstrap/ssr

